article {
	font-size: 1.05em;
	color: rgba(0, 0, 0, .6);
	transition: color .30s ease;
        -moz-transition: color .30s ease;
        -webkit-transition: color .30s ease;
}

article:hover {
	color: rgba(0, 0, 0, 1);
	transition: color .30s ease;
        -moz-transition: color .30s ease;
        -webkit-transition: color .30s ease;
}

.enhance {
	color: rgba(0, 0, 0, 1);
}

.entrance {
    background: transparent;
    text-align: center;
    padding: 70px;
    font-size: 1.8em;
}

#social_media li {
	padding-left: 7.5%;
}

.container > .row > .text-left {
    display: flex;
    justify-content: center;
}

/*.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
